<template>
    <div :id="scene._id" @click="onClick" @dblclick="onDblClick">
        <img :id="scene._id" :src="scene.stage.elements[0].asset.src" :style="imgStyle" />{{ scene.name }}
    </div>
</template>

<script lang="ts">
export default {
    props: {
        scene: {
            type: Object,
            default: function() {
                return {
                    _id: 'default',
                    stage: {
                        elements: [
                            {
                                asset: { kind: 'image', src: '/static/assets/marc.png' },
                            },
                        ],
                    },
                };
            },
        },
    },
    data: function() {
        return {
            selected: false,
        };
    },
    computed: {
        imgStyle: function() {
            return {
                width: '95%',
                height: '50px',
                border: this.selected ? '2px dotted' : '',
                'object-fit': 'cover',
            };
        },
    },
    methods: {
        onClick: function() {
            this.$emit('onSelect', { scene: this.$props.scene, component: this });
        },
        onDblClick: function() {
            this.$emit('onEdit', { scene: this.$props.scene });
        },
    },
};
</script>
