<template>
    <Widget :minWidth="150" :minHeight="200" :maxWidth="250" :maxHeight="600" :title="title">
        <SceneList v-bind:scenes="scenes" @onEdit="onEdit" @onSelected="onSelected" />
        <Button @click="onAdd">Add</Button>
        <SceneEditorWindow
            ref="editor"
            @onChange="onSceneSaved"
            @onAdd="onSceneAdded"
            @onCancel="showEditor = false"
            @onDelete="onSceneDeleted"
            v-show="showEditor"
        />
    </Widget>
</template>

<script lang="ts">
import { mapActions, mapState } from 'vuex';

import SceneList from './SceneList.vue';
import Widget from '@/components/common/widget/Widget.vue';
import SceneEditorWindow from '@/components/scene/EditorWindow.vue';

export default {
    components: {
        SceneList: SceneList,
        Widget: Widget,
        SceneEditorWindow: SceneEditorWindow,
    },
    data: function() {
        return {
            showEditor: false,
            title: 'Scene Library',
        };
    },
    computed: {
        ...mapState('collections', {
            scenes: 'scenes',
        }),
        ...mapState('live', {
            campaignId: 'sessionId',
        }),
    },
    watch: {
        campaignId: {
            handler(campaignId) {
                if (campaignId) {
                    //this.loadScenes();  // TODO - How do we ensure this is loaded independent of the scene?
                }
            },
        },
    },
    methods: {
        ...mapActions('collections', {
            loadScenes: 'loadScenes',
        }),
        onAdd: function() {
            this.showEditor = true;
            const scene = {
                name: 'New Scene',
                scene: { stage: '.' },
                stage: {
                    grid: { type: 'square', size: 50 },
                    bounds: {
                        nw: { q: 0, r: 0 },
                        se: { q: 20, r: 20 },
                    },
                    color: '#223344',
                    elements: [
                        {
                            id: 'background',
                            asset: { kind: 'image', src: '/static/assets/hideout.png' },
                            pos: { q: 0, r: 0, pa: '00' },
                        },
                    ],
                },
            };
            this.$refs.editor.saveButton = 'Add';
            this.$refs.editor.showDelete = false;
            this.$refs.editor.scene = scene;
        },
        onEdit: function({ scene }) {
            this.showEditor = true;
            this.$refs.editor.saveButton = 'Save';
            this.$refs.editor.showDelete = true;
            this.$refs.editor.scene = scene;
        },
        onSelected: function({ scene }) {
            this.$store.dispatch('gamestate/activateScene', scene);
        },
        onSceneAdded({ scene }) {
            this.showEditor = false;
            this.$emit('sceneAdded', { scene });
        },
        onSceneSaved({ id, patch }) {
            this.showEditor = false;
            this.$emit('sceneChanged', { sceneId: id, patch });
        },
        onSceneDeleted({ sceneId }) {
            this.showEditor = false;
            this.$emit('sceneDeleted', { sceneId });
        },
    },
};
</script>
